body{
    background-color: #d7e9e2;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.25vw;
}

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "Times New Roman", sans-serif;
    font-size: 3.25vw;
    color: aliceblue;
    width: 35%;
    text-shadow: 
        1.5px 1.5px 0px rgb(16, 72, 6),  /* Right shadow */
        -1.5px -1.5px 0px rgb(16, 72, 6), /* Left shadow */
        -1.5px 1.5px 0px rgb(16, 72, 6),  /* Bottom-left shadow */
        1.5px -1.5px 0px rgb(16, 72, 6);
}

body > header{
    background-color: #5A9367;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
}

#nav-ul-header{
    display: flex;
    justify-content: space-around; 
    list-style: none;
    text-decoration: none;
}

#nav-ul-header > li{
    padding: 8px;
    margin: 16px;
}

.navbutton{
    text-decoration: none;
    display: flex;
    color: aliceblue;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main{
    width: 70%;
    margin: auto;
}



h2{
    font-size:180%;
}

#recipes_section{
    display: flex;
    flex-wrap: wrap; 
    gap: 50px;
    justify-content: space-around;
}

#first_name{
    margin-right: 25px;
}
#last_name{
    margin-right: 26px;
}
#email{
    margin-right: 71px;
}

footer > h2{
    color: white;
    text-align: center;

    font-family: "Times New Roman", sans-serif;
}

body > footer{
    background-color: #5A9367;
}

h3{
    margin: 0%;
}

footer > h3{
    margin: 0%;
    text-align: center;
}

#footer-ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-decoration: none;
}

#footer-ul > div > li > a{
    color: white;
    text-decoration: none;
}

#footer-ul > div > li{
    margin-left: 47px;
    text-decoration:none ;
}

footer > nav{
    align-items: center;
}

#copyright{
    text-align: end;
}